<ul>
  <li>Tên thương hiệu: <b>{{brandName}}</b></li>
  <li>Email doanh nghiệp: <b>{{email}}</b></li>
  <li>Số điện thoại liên hệ: <b>{{phoneNumber}}</b></li>
  <li>Câu chuyện thương hiệu: <br /> - {{storyBrand}}</li>
</ul>